<a href="https://colab.research.google.com/github/aizatbite/CDS503-Bayesian-One-Hot-Encoding/blob/main/Bayesian_Lab_3_(OHE).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data

In [ ]:
import pandas as pd

In [ ]:
bd = pd.read_csv('/content/drive/MyDrive/bankdata.csv')
bd.head()

        id  age     sex      region  ...  save_act current_act  mortgage  pep
0  ID12101   48  FEMALE  INNER_CITY  ...        NO          NO        NO  YES
1  ID12102   40    MALE        TOWN  ...        NO         YES       YES   NO
2  ID12103   51  FEMALE  INNER_CITY  ...       YES         YES        NO   NO
3  ID12104   23  FEMALE        TOWN  ...        NO         YES        NO   NO
4  ID12105   57  FEMALE       RURAL  ...       YES          NO        NO   NO

[5 rows x 12 columns]

In [ ]:
#drop identity attribute
bd = bd.drop('id', axis = 1)
bd.head()

   age     sex      region   income  ... save_act  current_act mortgage  pep
0   48  FEMALE  INNER_CITY  17546.0  ...       NO           NO       NO  YES
1   40    MALE        TOWN  30085.1  ...       NO          YES      YES   NO
2   51  FEMALE  INNER_CITY  16575.4  ...      YES          YES       NO   NO
3   23  FEMALE        TOWN  20375.4  ...       NO          YES       NO   NO
4   57  FEMALE       RURAL  50576.3  ...      YES           NO       NO   NO

[5 rows x 11 columns]

In [ ]:
#untuk tengok data types
bd.dtypes

age              int64
sex             object
region          object
income         float64
married         object
children         int64
car             object
save_act        object
current_act     object
mortgage        object
pep             object
dtype: object

In [ ]:
#import LabelEncoder
from sklearn import preprocessing

#create LabelEncoder
le = preprocessing.LabelEncoder()

#convert string categories into numerical for sex, region, married, car, save_act, current_act, mortgage, pep
bd['sex']  = le.fit_transform(bd['sex'])
bd['region']  = le.fit_transform(bd['region'])
bd['married']  = le.fit_transform(bd['married'])
bd['car']  = le.fit_transform(bd['car'])
bd['save_act']  = le.fit_transform(bd['save_act'])
bd['current_act']  = le.fit_transform(bd['current_act'])
bd['mortgage']  = le.fit_transform(bd['mortgage'])
bd['pep']  = le.fit_transform(bd['pep'])
bd.head()

   age  sex  region   income  ...  save_act  current_act  mortgage  pep
0   48    0       0  17546.0  ...         0            0         0    1
1   40    1       3  30085.1  ...         0            1         1    0
2   51    0       0  16575.4  ...         1            1         0    0
3   23    0       3  20375.4  ...         0            1         0    0
4   57    0       1  50576.3  ...         1            0         0    0

[5 rows x 11 columns]

# OHE

In [ ]:
# Use get_dummies() function to perform one hot encoding on sex column
df_enc = pd.get_dummies(bd, prefix = ['sex'], columns = ['sex'])
df_enc.head()

   age  region   income  married  ...  mortgage  pep  sex_0  sex_1
0   48       0  17546.0        0  ...         0    1      1      0
1   40       3  30085.1        1  ...         1    0      0      1
2   51       0  16575.4        1  ...         0    0      1      0
3   23       3  20375.4        1  ...         0    0      1      0
4   57       1  50576.3        1  ...         0    0      1      0

[5 rows x 12 columns]

# Train & Validate Naive Bayes Classifier

In [ ]:
#indicate the target column
target = bd['pep']

#indicate columns that will serve as features uisng drop
features = bd.drop('pep', axis = 1)

In [ ]:
#split data into training and test dataset

#import train_test_split function
from sklearn.model_selection import train_test_split

##split the dataset into training and test set
#\ means that nak bagitau yg dia satu line tapi sambung di bawah
x_train, x_test, y_train, y_test = train_test_split(features, target, \
                                                    test_size = 0.2, random_state = 0 )

## Gaussian Naive Bayes

In [ ]:
#import function for k fold cross validation
from sklearn.model_selection import cross_val_score
#import the gaussian naive bayes classifier
from sklearn.naive_bayes import GaussianNB

#create a Gaussian Naive Bayes classifier with default parameter
gnb = GaussianNB()

#use 10 fold cross validation to perform training and validation on the training set
#parameter scoring = 'accuracy' will complete accuracy
scores = cross_val_score(gnb, x_train, y_train, cv = 10, scoring ='accuracy')

#display the array containing accuracy from 10 folds or 10 iterations
scores

array([0.54166667, 0.66666667, 0.6875    , 0.58333333, 0.64583333,
       0.70833333, 0.5625    , 0.70833333, 0.625     , 0.70833333])

In [ ]:
#print the mean accuracy score
print('Accuracy (Validation) = ', scores.mean())

Accuracy (Validation) =  0.64375

In [ ]:
#import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

#running prediction
gnb.fit(x_train, y_train)

#predict the target for the test datasset
test_predict = gnb.predict(x_test)

#compute the model accuracy on the development set : How oftenis the classifier correcct?
print ('Accuracy teat :', metrics.accuracy_score(y_test, test_predict))

Accuracy teat : 0.5916666666666667

## Bernoulli

In [ ]:
#import Bernoulli Naive Bayes Classifier
from sklearn.naive_bayes import BernoulliNB

#create a bernoulli naive baernoulli naive bayes classifier with default parameter
bnb = BernoulliNB(binarize = 0.0)

#use 10 fold cross validation to perform traininf and validation on the training hset
scores = cross_val_score(bnb, x_train, y_train, cv = 10, scoring = 'accuracy')

#display the array containing accuracy from 10 folds or iterations
scores

array([0.60416667, 0.54166667, 0.5       , 0.625     , 0.54166667,
       0.60416667, 0.5       , 0.60416667, 0.60416667, 0.60416667])

In [ ]:
print ('Accuracy = ', scores.mean())

Accuracy =  0.5729166666666667

In [ ]:
# Running prediction
bnb.fit(x_train, y_train)

# Predict the target for the test dataset
test_predict = bnb.predict(x_test)

# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.525

## Multinomial

In [ ]:
#import the multinomial naive bayes classifier
from sklearn.naive_bayes import MultinomialNB

#create a multinomial naive bayes with default parameter
mnb = MultinomialNB()

#use 10 fold cross validation to perform training and validation o the training set
scores = cross_val_score(mnb, x_train, y_train, cv = 5, scoring = 'accuracy')

scores

array([0.5625    , 0.54166667, 0.59375   , 0.67708333, 0.61458333])

In [ ]:
print('Accuracy = ', scores.mean())

Accuracy =  0.5979166666666667

In [ ]:
# Running prediction
mnb.fit(x_train, y_train)

# Predict the target for the test dataset
test_predict = mnb.predict(x_test)

# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.5416666666666666